services:
  web:
    build: .
    container_name: erp_forecast_web
    ports:
      - "80:80"
    env_file:
      - .env
    volumes:
      - .:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always